<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>x</key>
		<real>325</real>
		<key>y</key>
		<real>430</real>
	</dict>
    <dict>
        <key>x</key>
        <real>1835</real>
        <key>y</key>
        <real>430</real>
    </dict>
    <dict>
        <key>x</key>
        <real>865</real>
        <key>y</key>
        <real>700</real>
    </dict>
    <dict>
        <key>x</key>
        <real>1295</real>
        <key>y</key>
        <real>700</real>
    </dict>
    <dict>
        <key>x</key>
        <real>215</real>
        <key>y</key>
        <real>915</real>
    </dict>
    <dict>
        <key>x</key>
        <real>1830</real>
        <key>y</key>
        <real>970</real>
    </dict>
    <dict>
        <key>x</key>
        <real>1405</real>
        <key>y</key>
        <real>1185</real>
    </dict>
    <dict>
        <key>x</key>
        <real>650</real>
        <key>y</key>
        <real>1235</real>
    </dict>
    <dict>
        <key>x</key>
        <real>215</real>
        <key>y</key>
        <real>1565</real>
    </dict>
    <dict>
        <key>x</key>
        <real>1210</real>
        <key>y</key>
        <real>1590</real>
    </dict>
    <dict>
        <key>x</key>
        <real>1945</real>
        <key>y</key>
        <real>1780</real>
    </dict>
    <dict>
        <key>x</key>
        <real>755</real>
        <key>y</key>
        <real>1835</real>
    </dict>
    <dict>
        <key>x</key>
        <real>215</real>
        <key>y</key>
        <real>2210</real>
    </dict>
    <dict>
        <key>x</key>
        <real>1510</real>
        <key>y</key>
        <real>2210</real>
    </dict>
    <dict>
        <key>x</key>
        <real>865</real>
        <key>y</key>
        <real>2425</real>
    </dict>
    <dict>
        <key>x</key>
        <real>430</real>
        <key>y</key>
        <real>2755</real>
    </dict>
    <dict>
        <key>x</key>
        <real>1510</real>
        <key>y</key>
        <real>2755</real>
    </dict>
    <dict>
        <key>x</key>
        <real>1945</real>
        <key>y</key>
        <real>3080</real>
    </dict>
    <dict>
        <key>x</key>
        <real>215</real>
        <key>y</key>
        <real>3190</real>
    </dict>
    <dict>
        <key>x</key>
        <real>1510</real>
        <key>y</key>
        <real>3290</real>
    </dict>
    <dict>
        <key>x</key>
        <real>755</real>
        <key>y</key>
        <real>3455</real>
    </dict>
    <dict>
        <key>x</key>
        <real>1185</real>
        <key>y</key>
        <real>3670</real>
    </dict>
    <dict>
        <key>x</key>
        <real>1945</real>
        <key>y</key>
        <real>3725</real>
    </dict>
    <dict>
        <key>x</key>
        <real>325</real>
        <key>y</key>
        <real>3775</real>
    </dict>
</array>
</plist>
